<div class="comments">
  <div class="columns">
    <div class="column is-4">
  {{#each this}}
    <section class="comment" id="{{id}}">
      <div>
        {{user.username}}
        on
        {{created_at}}
      </div>
      <div class="text">
        {{comment_text}}
        <a href="/comment/{{id}}">
          edit or delete
        </a>
      </div>
    </section>
    </div>
    </div>
  {{/each}}
</div>