{{!--initiate page template for the comments section--}}
<div class="comments">
  <div class="columns">
    <div class="column is-3">
      {{!--condition to get each userinformation when making a comments on a post--}}

    <section class="comment" id="{{id}}">
      <div>
        {{user.username}}
        on
        {{created_at}}
      </div>
      <div class="text">
        {{#if isEditable}}
        <div class="has-text-dark" name="comment-body-{{id}}">{{comment_text}}</div>
        <div>
          <button class="edit-comment-btn" data-id="{{id}}">Update</button>
          <button class="delete-comment-btn" data-id="{{id}}">Delete</button>
        </div>
        {{else}}
        {{comment_text}}
        {{/if}}
      </div>
    </section>
    </div>
    </div>
</div>
