{{!initiate page template for the comments section}}

<div class="columns">
  <div class="column">
    <section class="comment notification" id="{{id}}">
      <div class="media">
        <div class="media-left">
          <figure class="image">
            <img src="/avatar/{{user.id}}" alt="avatar image">
          </figure>
        </div>
        <div class="media-content">
          <p>
            <a href="/dashboard/user/{{user.id}}">
              <strong>{{user.username}}</strong>
            </a>
            <small>
              {{user.email}}
            </small>
            <br>
            <small>{{format_date created_at}}</small>
          </p>
        </div>
      </div>
      <div>
        {{#if isEditable}}
        <div class="field">
          <div class="control">
            <textarea
            class="textarea has-text-dark"
            name="comment-body-{{id}}"
          >{{comment_text}}</textarea>
          </div>
        </div>
        <div>
          <div class="field">
            <div class="control">
              <button class="button is-primary edit-comment-btn" data-id="{{id}}">Update</button>
              <button class="button is-primary delete-comment-btn" data-id="{{id}}">Delete</button>
            </div>
          </div>
        </div>
        {{else}}
          <div class="is-italic">
            {{comment_text}}
          </div>
        {{/if}}
      </div>
    </section>
  </div>
</div>
