{{!--initiate page template for job--}}
<div class="card">
  <div class="card-header">
    <p class="card-header-title"><a
        class="is-size-4"
        href="/dashboard/job/{{id}}"
      >{{title}}</a></p>
  </div>
{{!--owner information section--}}
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image">
          <img src="/avatar/{{owner.id}}" alt="avatar image" />
        </figure>
      </div>
      <div class="media-content">
        <p>
          <a href="/dashboard/user/{{owner.id}}">
            <strong>{{owner.username}}</strong>
          </a>
          {{!-- <small>
            {{owner.email}}
          </small> --}}
          <br />
          <small>{{format_date createdAt}}</small>
        </p>
      </div>
    </div>
    {{!--job content goes here--}}
    <div class="content">
      <p>
        <b>Payment offered:</b>
        ${{salary}}<br />
        <b>Payment by:</b>
        {{payment_method}}<br />
        <b>Job Status:</b>
        {{job_status}}<br />
        <b>Zip Code:</b>
        {{zip_code}}<br />
      </p>
      <p>
        {{description}}
      </p>
    </div>
  </div>
  {{!--jobsite image goes here--}}
  {{#if jobimages}}
    <div class="card-image">
      <figure class="image">
        {{#each jobimages as |image|}}
          <img class="job-image" src="{{image.image_url}}" />
        {{/each}}
      </figure>
    </div>
    {{/if}}
    {{!--button to hit likes the job posting and button to apply--}}
    <footer class="card-footer">
      <button  class="thumbsup card-footer-item button ml-2 mr-1 my-3" data-id={{id}} data-job={{job.id}}>
       <p style="padding: 8px;">{{likes_count}}</p> <span class="fa fa-thumbs-up"></span>
        Like
      </button>
      <button
        class="card-footer-item button is-primary apply-to-job-btn mr-2 ml-1 my-3"
        data-id={{id}}
        {{#if isUserApplicant}}
          disabled>Applied
        {{else}}
          >Apply!
        {{/if}}
      </button>
  </footer>
</div>