
<article class="job">
  <div class="columns">
    <div class="column is-half is-offset-one-">
    <p>{{title}} by {{user.username}} on {{created_at}}</p>
    <br />
    <p>{{description}}</p>
    <br />
    <p>{{salary}}</p>
    <br />
    <p>{{payment_method}}</p>
    <br />
    <p> opened by {{owner_id}}</p>
    <br />
    <p> in {{location_id}}</p>

    <a href="/job/{{id}}">{{title}}</a>
  </div>
  </div>
</article>