<div class="card">
  <div class="media-content">
    <p class="card-header-title is-4">{{title}}</p>
  </div>
  <div class="card-image">
    <figure class="image is-4by4">
      {{#if jobimages}}
      {{#each jobimages as |image|}}   
        <div>
            <img src="{{image.image_url}}">
      </div>
       {{/each}}
       {{else}}
<img src="/images/android-chrome-512x512.png">
            {{/if}}
    </figure>
    </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-40x40">
          <img src="/avatar/{{owner.id}}" alt="avatar image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{owner.username}}</p>
        <p class="subtitle is-6">{{owner.email}}</p>
      </div>
    </div>
    <div class="content">
   <p>{{description}}</p>
      <p><b>Payment offered:</b> ${{salary}}</p>
      <p><b>Payment by:</b> {{payment_method}}</p>
      <p><b>Job Status:</b> {{job_status}}</p>
      <p> <b>Zip Code:</b> {{zip_code}}</p>
    
      {{!-- <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time> --}}
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item"><button type="button" id="thumbsup">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        Like
      </button></a>
    <a href="#" class="card-footer-item"><button
        id="apply-to-job-btn"
        class="button is-success"
        data-id={{id}}
      >Apply!</button></a>
  </footer>
</div>