<article class="job">
  <div>
    <p>{{title}} by {{owner.username}} on {{createdAt}}</p>
    <br />
    <p>{{description}}</p>
    <br />
    <p>{{salary}}</p>
    <br />
    <p>{{payment_method}}</p>
    <br />
    <p> zip code: {{location_id}}</p>

    <a href="/dashboard/job/{{id}}">{{title}}</a>
  </div>
</article>