<article class="job">
  <div>
    <ol>
      {{#each jobs}}
        <li>
          <p>{{title}} on {{createdAt}}</p>
          <p>{{description}}</p>
          <p> pay is {{salary}}</p>
          <p>payment method is{{payment_method}}</p>
          <p> opened by {{owner_id}}</p>
        </li>
      {{/each}}
    </ol>
    <br />
  </div>
</article>