{{!--page template for the dashboard where user can create job posting--}}

<div class="tile is-12 notification">
    <div class="tile is-parent is-5">
        <div class="tile is-child box">
            {{!--input form for the job post data--}}
            <span class="is-size-4">Post a New Job</span>
            <form>
                {{!--label an dinput for job title--}}
                <div class="field">
                    <label class="label">Job Title</label>
                    <div class="control">
                        <input
                        type="text"
                        placeholder="Job title"
                        class="input title-input"
                        name="job-title" required/>
                    </div>
                </div>
                {{!--label and input for category name--}}
                <div class="field">
                    <label class="label">Category</label>
                    <div class="control">
                        <div class="select">
                            <select name="category-name" id="category-name" required>
                                {{#each categories as |category|}}
                                <option value="{{category.category_name}}">{{category.category_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                {{!--label and input for job description--}}
                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        <textarea
                            class="textarea description-input"
                            placeholder="Job description"
                            name="description-input" required
                        ></textarea>
                    </div>
                </div>
                {{!--label and input for salary--}}
                <div class="field">
                    <label class="label">Pay</label>
                    <div class="control">
                        <input
                                type="number"
                                placeholder="pay"
                                class="input salary-input"
                                name='salary-input' required/>
                    </div>
                </div>
                    {{!--label and input for payment method--}}
                <div class="field">
                    <label class="label">Payment method will be </label>
                    <div class="control">
                        <input
                                type="text"
                                placeholder="Payment method"
                                class="input payment-input"
                                name="payment-input" required/>
                    </div>
                </div>
                    {{!--label and input for job location--}}
                <div class="field">
                    <label class="label">Job Location</label>
                    <div class="control">
                        <input
                                type="number"
                                placeholder="Job location"
                                class="input location-input"
                                name="location-input" required/>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Image</label>
                    <div class="control">
                        <div class="file has-name">
                            <label class="file-label">
                                <input id="file-input" class="file-input" type="file" name="file" type="image/png, image/jpeg">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fa fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file…
                                    </span>
                                </span>
                                <span class="file-name">
                                    <span id="upload-file-name">Photo of the job site</span><img id="spinner" class="hide" src="/images/spinner.gif" width="30px" height="30px"/>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-right mt-3">
                    <button class="button is-primary submit-post">Submit</button>
                </div>
            </form>
        </div>
    </div>
    {{!--section table to display the post history of a certain user--}}
    <div class="tile is-7">
        <div class="tile is-parent is-vertical is-12">
            {{#each unreads as |unread|}}
            <div class="notification is-warning">
                <button class="delete"></button>
                You have unread messages from 
                <a href="/dashboard/user/{{unread.from_id}}">
                    {{unread.from.username}}
                </a>
            </div>
            {{/each}}
            <div class="tile is-child box">
                <span class="is-size-4">Your Posted Jobs</span>
                <div class="table-container">
                    <table
                        class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                        {{!--user post information columns of data--}}
                            <tr>
                                <th class="table-title">Title</th>
                                {{!--condition to assign or parse the user if falls as an employee--}}
                                {{#if employee}}
                                <th class="employee-name">Employee</th>
                                {{/if}}
                                {{#unless employee}}
                                <th class="employee-name">Employee</th>
                                {{/unless}}
                                <th class="job-status">Job Satus</th>
                                <th class="table-edit">Controls</th>
                                {{!-- <th class="table-delete">Delete</th> --}}
                            </tr>
                        </thead>
                        {{!--rows of data object key value goes here--}}
                        <tbody>
                        {{#each jobs}}
                            <tr>
                                <td><a href="/dashboard/job/{{this.id}}"
                                    >{{this.title}}</a></td>
                                {{!--condition if the owner has an employee then view the employee name--}}
                                {{#if employee}}
                                <td>
                                    <a href="/dashboard/user/{{employee.id}}">
                                        <strong>{{employee.username}}</strong>
                                    </a>
                                </td>
                                {{else}}
                                    {{#unless applicant.length}}
                                <td>no applicants yet</td>
                                    {{else}}
                                <td><a href="/dashboard/job/{{this.id}}/applicants">Select applicant</a></td>
                                    {{/unless}}
                                {{/if}}
                                <td>{{job_status}}</td>
                                <td class="is-centered">
                                    <button class="complete-job button is-primary mb-1" data-id="{{this.id}}">Mark Complete</button>
                                    <a class="button is-primary mb-1" href="/dashboard/job/{{this.id}}/edit">Edit</a>
                                    <button class="delete-job button is-danger mb-1" data-id="{{this.id}}">Delete</button>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tile is-child box">
                <span class="is-size-4">Jobs You Applied</span>
                <table
                    class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
                >
                    <thead>
                    {{!--user post information columns of data--}}
                        <tr>
                            <th class="table-title">Title</th>
                            <th class="table-title">Owner</th>
                            <th class="table-title">Status</th>
                        </tr>
                    </thead>
                    {{!--rows of data object key value goes here--}}
                    <tbody>
                        {{#each applied}}
                        <tr>
                            <td>
                                <a href="/dashboard/job/{{id}}">{{title}}</a>
                            </td>
                            <td>
                                <a href="/dashboard/user/{{owner.id}}">
                                    <strong>{{owner.username}}</strong>
                                </a>
                            </td>
                            <td>{{job_status}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="tile is-child box">
                <span class="is-size-4">Jobs You Are Selected</span>
                <table
                    class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
                >
                    <thead>
                    {{!--user post information columns of data--}}
                        <tr>
                            <th class="table-title">Title</th>
                            <th class="table-title">Owner</th>
                            <th class="table-title">Status</th>
                        </tr>
                    </thead>
                    {{!--rows of data object key value goes here--}}
                    <tbody>
                        {{#each selected}}
                        <tr>
                            <td>
                                <a href="/dashboard/job/{{id}}">{{title}}</a>
                            </td>
                            <td>
                                <a href="/dashboard/user/{{owner.id}}">
                                    <strong>{{owner.username}}</strong>
                                </a>
                            </td>
                            <td>{{job_status}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="tile is-child box">
                <span class="is-size-4">Jobs You Completed</span>
                <table
                    class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
                >
                    <thead>
                    {{!--user post information columns of data--}}
                        <tr>
                            <th class="table-title">Title</th>
                            <th class="table-title">Owner</th>
                            <th class="table-title">Status</th>
                        </tr>
                    </thead>
                    {{!--rows of data object key value goes here--}}
                    <tbody>
                        {{#each completed}}
                        <tr>
                            <td>
                                <a href="/dashboard/job/{{id}}">{{title}}</a>
                            </td>
                            <td>
                                <a href="/dashboard/user/{{owner.id}}">
                                    <strong>{{owner.username}}</strong>
                                </a>
                            </td>
                            <td>{{job_status}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{{!--call the file function to generate this page template--}}
<script src="/javascript/dashboard.js"></script>
