<section class="hero has-background-grey-lighter">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <form class="box">
                        <label class="label is-large" class="label">Create New Job Post<label>
                        <div class="field">
                            <label class="label"> Title</label>
                            <div class="control">
                                <input
                                    type="text"
                                    placeholder="Job title"
                                    class="input title-input" required/>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label"> Category_Name</label>
                            <div class="control">
                                <input
                                    type="text"
                                    placeholder="category-name"
                                    class="input category-input" required/>
                            </div>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <label class="label">Description</label>
                                <div class="control">
                                    <textarea
                                        class="textarea description-input"
                                        placeholder="Job description"required
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="control">
                            <label class="label">Salary</label>
                                <input
                                    type="text"
                                    placeholder="salary"
                                    class="input salary-input" required/>
                            </div>
                            <div class="control">
                            <label class="label">Payment method will be </label>
                                <input
                                    type="text"
                                    placeholder="Payment method"
                                    class="input payment-input" required/>
                            </div>
                            <div class="control">
                            <label class="label">Job Location</label>
                                <input
                                    type="text"
                                    placeholder="Job location"
                                    class="input location-input" required/>
                            </div>
                        <div class="field is-grouped is-grouped-right mt-3">
                            <button class="button is-success submit-post">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero has-background-grey-lighter hug">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <form class="box">
                        <table
                            class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
                        >
                            <thead>
                                <tr>
                                    <th class="table-id">ID</th>
                                    <th class="table-title">Title</th>
                                    <th class="table-category">Category_Name</th>
                                    <th class="emplyee-name">Employee</th>
                                    <th class="payment-method">Created At</th>
                                    <th class="job-location">Job Satus</th>
                                    <th class="table-created">Payment-method</th>
                                    <th class="table-edit">Edit</th>
                                    <th class="table-delete">Delete</th>
                                </tr>
                            </thead>

                            <tbody>
                                {{#each jobs}}
                                    <tr>
                                        <td>{{this.id}}</td>
                                        <td>{{title}}</td>
                                        <td><a href="/category/{{category_id}}/jobs">{{category.category_name}}</a></td>
                                        <td><a href="/user/{{user_id}}">{{this.owner.username}}</a></td>
                                        <td>{{this.createdAt}}</td>
                                        <td>{{this.job_status}}</td>
                                        <th>{{payment_method}}</th>
                                        <td><a
                                                href="/edit/{{this.id}}"
                                            >Edit</a></td>
                                        <td><a
                                                class="delete-post"
                                                data-id="{{this.id}}"
                                            >Delete</a></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/javascript/dashboard.js"></script>
