
<div class="dms">
  <div class="columns">
    <div class="column">
      {{!condition to get each userinformation when making a comments on a post}}
   <section class="dm" id="{{id}}">
        <div>
          {{user.username}}
          on
          {{format_date created_at}}
        </div>
        <div class="text">
          {{#if isEditable}}
            <textarea
              class="textarea has-text-dark"
              name="thread-body-{{id}}">{{dm_text}}</textarea>
            <div>
              <button class="edit-thread-btn" data-id="{{id}}">Update</button>
              <button
                class="delete-thread-btn"
                data-id="{{id}}">Delete</button>
            </div>
          {{else}}
            {{dm_text}}
          {{/if}}
        </div>
      </section>
    </div>
  </div>
</div>
