{{!--page template where you can edit and delete the comments--}}
<div class="column">
  {{!--select the comment id to be edited/deleted from the data storage--}}
  <section id="{{comment.id}}">
    <div>
      {{comment.user.username}}
      on
      {{comment.createdAt}}
    </div>
    <div>
      {{!--section of comment being called by id--}}
      <textarea class="has-text-dark"
        type="text"
        name="comment-body"
      >{{comment.comment_text}}</textarea>
      {{!--buttons--}}
      <button type="button" id="edit-comment-btn{{comment.id}}">Edit comment</button>
      <button type="button" id="delete-comment-btn{{comment.id}}">Delete comment</button>
    </div>
  </section>
</div>
{{!--call the file path function to generate this page template--}}
<script src="/javascript/edit-delete-comment.js"></script>