<div class="column">
  <section id="{{comment.id}}">
    <div>
      {{comment.user.username}}
      on
      {{comment.createdAt}}
    </div>
    <div>
      <textarea
        type="text"
        name="comment-body"
      >{{comment.comment_text}}</textarea>
      <button type="button" id="edit-comment-btn{{comment.id}}">Edit comment</button>
      <button type="button" id="delete-comment-btn{{comment.id}}">Delete comment</button>
    </div>
  </section>
</div>
<script src="/javascript/edit-delete-comment.js"></script>