<div class="container">
     <label class="label is-larger">Edit Job</label><br><br>
<form class="box">
  {{!--label an dinput for job title--}}
  <div class="field">
      <label class="label">Title</label><br><br>
          <input
              value="{{job.title}}"
              type="text"
              placeholder="Job title"
              class="input title-input is-medium"
              name="job-title" required/>
     
  </div><br>
  {{!--label and input for category name--}}
  <div class="field">
    <label class="label">Category Name</label>
    
        <select name="category-name" id="category-name" required>
            {{#each categories as |category|}}
            <option value="{{category.category_name}}">{{category.category_name}}</option>
            {{/each}}
        </select>
   
</div><br>
  {{!--label and input for job description--}}
 
      <div class="field">
          <label class="label">Description</label><br><br>
              <textarea
                  class="textarea description-input"
                  placeholder="Job description"
                  name="description-input" required
              >{{job.description}}</textarea>
         </div><br>
  
  {{!--label and input for salary--}}
  <div class="control">
      <label class="label">Salary</label><br><br>
          <input
              value="{{job.salary}}"
              type="number"
              placeholder="salary"
              class="input salary-input is-medium"
              name='salary-input' required/>
   </div><br>
    {{!--label and input for payment method--}}
    <div class="control">
      <label class="label">Payment method will be </label><br><br>
      <input
            value="{{job.payment_method}}"
            type="text"
            placeholder="Payment method"
            class="input payment-input is-medium"
            name="payment-input" required/>
    </div><br>
    {{!--label and input for job location--}}
      <div class="control">
        <label class="label">Job Location</label><br><br>
        <input
                value="{{job.zip_code}}"
                type="number"
                placeholder="Job location"
                class="input location-input is-medium"
                name="location-input" required/>
      </div>
    {{!--button to submit the inputs--}}
  <div class="field is-grouped is-grouped-right mt-3">
      <button class="button is-success submit-post" data-id="{{job.id}}">Update</button>
  </div>
</form>
</div>
<script src="/javascript/edit-job.js"></script>


