{{!--Initiate the user information section--}}
<div class="hero-body">
  <div class="container">
    <div class="column is-4 is-offset-4">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              {{!--user avatar--}}
              <figure class="image is-128x128">
                <img class="is-rounded" src="/avatar/{{id}}" alt="Placeholder image">
              </figure>
            </div>
      
            {{!--user information--}}
            <div class="media-content">
              <p class="title is-4">User: 
                <a href="/dashboard/user/{{user.id}}">
                  <p>{{user.username}}</p>
                </a>
              </p>
              <div>
                <label class="label">Rating</label>
                <ul class="rating" id="ratings-select" data-id="{{user.id}}">
                  <li class="rating-item" data-rate="1"></li>
                  <li class="rating-item active" data-rate="2"></li>
                  <li class="rating-item" data-rate="3"></li>
                  <li class="rating-item" data-rate="4"></li>
                  <li class="rating-item" data-rate="5"></li>
                </ul>
              </div>
              <p class="subtitle is-6">
                <a href="mailto:{{user.email}}">{{user.email}}</a>
              </p>
            </div>
          </div>

          <div class="content">
            <div id="useraverage">Rating:
              <span id="stars"></span>
            </div>
            <div id='useraveragedivp'> 
              <p id="useraveragep">{{userAverage}}</p>
            </div>
          </div>
          {{!--If loggedIn user include the email and login history--}}
          {{#if sameUser}}
          <div>Email: {{user.email}}</div>
          <div>Last Login: {{user.last_login}}</div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{!--button to call for the message box--}}
{{!--<button class="button is-primary is-outlined is-rounded" {{onclick="document.getElementById('chatroom').style.display='block'" style="float: right;">Contact employer/employee</button>
 </div>--}}
<button id="messagebtn" class="button is-primary is-outlined is-rounded" onclick="myFunction()">Message employer/employee</button>
{{!--initiate page template for chatroom--}}
<article class="popup" id="chatroom">
  <span class="popuptext" id="myPopup">
       <div id="user">
           <p style="color: black;" >{{user.username}}</p>
             <button type="button" onclick="document.getElementById('chatroom').style.display='none'" class="button is-danger" style="float: right;">Close</button>
        </div>
        
       <form id="comment-box">
            <textarea
                class="textarea message-input" id="textarea"
                placeholder="Send a message..."
                name="message-input" required></textarea><br>
                {{!--button to submit the inputs--}}
            <div>
                <button class="button is-success reply-msg" onclick="document.getElementById('chatroom').style.display='block'"  data-id={{user.id}}>Send</a></button>
             </div>
        </form>

  <div id="dm">
  {{#each user.directmessages as |dm|}}
  <div class="message">
    <div class="message-body">
  Date: {{dm.createdAt}}<br>
  From: {{dm.from.username}}<br>
  To: {{dm.to.username}}<br>
  Message: {{dm.message}}<br><br>
  <span class="delete-message" data-id="{{id}}">Delete</span>
  {{/each}}
  </div>
  </div>
  </div>
  </span>
</article>

<script src="/javascript/dm.js"></script>
<script src="/javascript/ratings.js"></script>

 